<div class="bg-white shadow-sm p-40">
  <h1 class="text-black-50 mb-15">Privacy Policy Agreement</h1>
  <p class="text-black-50 font-weight-bold">Privacy Policy Version 1.0, valid since 06.01.2021</p>
  <h2 class="text-black-50 mb-15">Responsible Party</h2>
  <div class="d-flex justify-content-between align-items-center mb-20">
    <div>
      <p class="text-black-50 m-0 p-0">Appogee B.V.</p>
      <p class="text-black-50 m-0 p-0">Frans Erensstraat 14A</p>
      <p class="text-black-50 m-0 p-0">5921VG Venlo, Netherlands</p>
    </div>
    <button class="btn btn-primary rounded-0" (click)="navigate([ROUTES.home.root, ROUTES.home.support.root, ROUTES.home.support.contact])">Contact Form</button>
  </div>
  <h3 class="text-black-50 mb-15">Questions Related to Data Protection and Exercising your Rights</h3>
  <p class="text-black-50 m-0 p-0">If you have any questions related to data protection, or if you wish to exercise your rights, please contact EMAIL or the address stated above, adding the keyword “Data Protection”.</p>

  <h3 class="text-black-50 my-15">In which cases will we process personal data</h3>
  <p class="text-black-50 m-0 p-0">We will process personal data which you transfer to us actively by your entries. Additionally, we will process personal data in an automated way, based on the use of our service. Particularly in the cases stated below your personal data may be processed.</p>

  <a class="text-primary text-decoration-none" href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>
</div>
