<sdate-logo></sdate-logo>
<div class="main">
  <div class="shadow-sm d-none d-sm-block">
    <img class="w-100 max-height-500" src="../../assets/images/hompage.png" alt="#" />
  </div>
  <div class="border-bottom py-20 container">
      <h3 class="text-center text-danger">
        <span class="text-primary font-30">sDate</span>
        <br>
        The partner search for mature and experienced women
      </h3>
      <p class="text-black-50">
        M stands for "mature" which means "ripe, adult, experienced". At mDates, mature women are looking for a new
        love, chat, or life partner. Some women prefer young men; other women look for older and experienced men to lean
        on.
      </p>
      <p class="text-black-50">
        Men, no matter the age group, who are looking for mature women are at the right place at mDates. Many men would
        like to find a woman who knows what life is about, and has accomplished something too. No giddy, inexperienced
        women, that don’t know what they want and often can’t or won’t commit for the long term. Register for free now!
      </p>
  </div>
  <div class="border-bottom py-20 container d-none d-md-block">
    <h3 class="text-center text-danger">
      This is how easy it is to find the perfect mature woman in just 3 steps:
    </h3>
    <p class="text-black-50">
      Create your profile on mDates for free and in just a few steps! With your profile, you can immediately attract the attention of singles in your area. So take the time you need. You'll increase your chances of making positive contacts.
    </p>
  </div>
</div>
<sdate-hfooter></sdate-hfooter>
