<sdate-logo></sdate-logo>
<div class="main">
  <div class="homepage-body shadow-sm">
    <img class="homepage-body" src="../../assets/image/hompage.png" alt="#" />
  </div>
  <div class="homepage-blog border-bottom">
    <div class="container">
      <h1 class="text-danger font-weight-bold text-center">sDates</h1>
      <h3 class="text-primary text-center">This is the most popular dating site</h3>
      <h4 class="text-black-50 text-center">People are using this site as well as they can use.</h4>
      <h4 class="text-black-50 text-center">I hope you use this system very well</h4>
    </div>
  </div>

  <div class="homepage-blog border-bottom">
    <div class="container">
      <h1 class="text-danger font-weight-bold text-center">sDates</h1>
      <h3 class="text-primary text-center">This is the most popular dating site</h3>
      <h4 class="text-black-50 text-center">People are using this site as well as they can use.</h4>
      <h4 class="text-black-50 text-center">I hope you use this system very well</h4>
    </div>
  </div>

  <div class="homepage-blog border-bottom">
    <div class="container">
      <h1 class="text-danger font-weight-bold text-center">sDates</h1>
      <h3 class="text-primary text-center">This is the most popular dating site</h3>
      <h4 class="text-black-50 text-center">People are using this site as well as they can use.</h4>
      <h4 class="text-black-50 text-center">I hope you use this system very well</h4>
    </div>
  </div>
</div>
<sdate-hfooter></sdate-hfooter>
