.homepage-body {
  max-height: calc(100vh - 200px);
}

.homepage-blog {
  margin: 10px 0px 20px 0px;
  padding-bottom: 20px;
}

.homepage-blog h1 {
  font-size: 36px;
}

.homepage-blog h3 {
  font-size: 30px;
}

.homepage-blog h4 {
  font-size: 24px;
}

