<ng-container>
  <div class="p-50">
    <h2 class="text-black-50">Payment Sum</h2>
    <div class="d-flex flex-wrap justify-content-around align-items-center">
      <sdate-dash-total title="Total Earning" description="0" color="cornflower-blue" icon="female"></sdate-dash-total>
      <sdate-dash-total title="Message Earning" description="1" color="riptide" icon="male"></sdate-dash-total>
      <sdate-dash-total title="Gitf Earning" description="2" color="geraldine" icon="message"></sdate-dash-total>
    </div>
  </div>
  <div class="p-50">
    <h2 class="text-black-50">Payment Analyze Charts</h2>
    <div class="d-flex flex-wrap justify-content-around align-items-center">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <div>

  </div>
</ng-container>
