.logo img {
  max-height: 35px;
}
.menu a {
  color: white;
  font-size: 18px;
  margin-right: 30px;
  cursor: pointer;
  padding: 10px;
}

.menu a:hover {
  background: #8DA3BA;
}

.avatar img {
  max-width: 50px;
  max-height: 50px;
}
