<header class="bg-danger">
  <div class="d-flex align-items-center justify-content-around">
    <div class="logo col-sm-3 d-flex justify-content-center align-items-center py-5">
      <img class="height-35" src="../../../assets/images/logo.png" alt="#"/>
    </div>
    <div class="col-sm-6 justify-content-center align-items-center d-none d-lg-flex">
      <a class="menu-item" (click)="navigate([ROUTES.home.root, ROUTES.home.chats])"><h4>CHATS</h4></a>
      <a class="menu-item" (click)="navigate([ROUTES.home.root, ROUTES.home.inbox])"><h4>INBOX</h4></a>
      <a class="menu-item" (click)="navigate([ROUTES.home.root, ROUTES.home.visitors])"><h4>VISITORS</h4></a>
      <a class="menu-item" (click)="navigate([ROUTES.home.root, ROUTES.home.likes])"><h4>LIKES</h4></a>
      <a class="menu-item" (click)="navigate([ROUTES.home.root, ROUTES.home.favorites])"><h4>FAVORITES</h4></a>
    </div>
    <div class="d-flex align-items-center justify-content-start col-sm-3">
      <div class="text-center text-white mr-5 mr-lg-10">
        <p class="m-0">0 <br class="d-none d-lg-block">Coins</p>
      </div>
      <div class="mr-10">
        <button class="btn btn-info p-5">Buy Coins</button>
      </div>
      <a class="btn text-decoration-none text-white m-0 max-width-80 p-0 m-0 text-overflow d-none d-lg-block" (click)="navigate([ROUTES.home.root, ROUTES.home.myprofile])">{{userInfo && userInfo.fullName}}</a>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="p-5 mr-10 d-none d-lg-block" aria-label="Main Menu">
        <sdate-icon [width]="16" icon="list" color="white"></sdate-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.myprofile])">
          <span>My Profile</span>
        </button>
        <hr class="m-0 h-0 bg-dark"/>
        <button mat-menu-item (click)="logOut()">
          <span>Logout</span>
        </button>
        <hr class="m-0 h-0 bg-dark"/>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.support.root])">
          <span>Help/Support</span>
        </button>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.legal.root, ROUTES.home.legal.imprint])">
          <span>Imprint</span>
        </button>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.legal.root, ROUTES.home.legal.privacy])">
          <span>Privacy Policy</span>
        </button>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.legal.root, ROUTES.home.legal.terms])">
          <span>Terms and Conditions</span>
        </button>
      </mat-menu>
      <div class="d-none d-lg-block">
        <sdate-avatar [size]="45" [src]="userInfo && userInfo.avatar"></sdate-avatar>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-around d-lg-none">
      <a class="menu-item m-0 p-2" (click)="navigate([ROUTES.home.root, ROUTES.home.chats])"><sdate-icon [width]="16" icon="message" color="white"></sdate-icon></a>
      <a class="menu-item m-0 p-2" (click)="navigate([ROUTES.home.root, ROUTES.home.inbox])"><sdate-icon [width]="16" icon="eye" color="white"></sdate-icon></a>
      <a class="menu-item m-0 p-2" (click)="navigate([ROUTES.home.root, ROUTES.home.likes])"><sdate-icon [width]="16" icon="search" color="white"></sdate-icon></a>
      <a class="menu-item m-0 p-2" (click)="navigate([ROUTES.home.root, ROUTES.home.likes])"><sdate-icon [width]="16" icon="star" color="white"></sdate-icon></a>
      <a class="menu-item m-0 p-2" (click)="navigate([ROUTES.home.root, ROUTES.home.visitors])"><sdate-icon [width]="16" icon="grid" color="white"></sdate-icon></a>
      <a class="menu-item m-0 p-2" (click)="navigate([ROUTES.home.root, ROUTES.home.favorites])"><sdate-icon [width]="16" icon="heart" color="white"></sdate-icon></a>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="p-5 mr-10" aria-label="Main Menu">
        <sdate-icon [width]="16" icon="list" color="white"></sdate-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.myprofile])">
          <span>My Profile</span>
        </button>
        <hr class="m-0 h-0 bg-dark"/>
        <button mat-menu-item (click)="logOut()">
          <span>Logout</span>
        </button>
        <hr class="m-0 h-0 bg-dark"/>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.support.root])">
          <span>Help/Support</span>
        </button>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.legal.root, ROUTES.home.legal.imprint])">
          <span>Imprint</span>
        </button>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.legal.root, ROUTES.home.legal.privacy])">
          <span>Privacy Policy</span>
        </button>
        <button mat-menu-item (click)="navigate([ROUTES.home.root, ROUTES.home.legal.root, ROUTES.home.legal.terms])">
          <span>Terms and Conditions</span>
        </button>
      </mat-menu>
  </div>
</header>
<div id="root" class="p-20 bg-dark"></div>
