<header class="bg-danger">
  <div class="d-flex align-items-center">
    <div class="logo col-sm-3 d-flex justify-content-center align-items-center">
      <img class="height-35" src="../../../assets/image/logo.png" alt="#"/>
    </div>
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
      <a class="menu-item"><h6>CHATS</h6></a>
      <a class="menu-item"><h6>INBOX</h6></a>
      <a class="menu-item"><h6>VISTORS</h6></a>
      <a class="menu-item"><h6>LIKES</h6></a>
      <a class="menu-item"><h6>FAVOURITES</h6></a>
    </div>
    <div class="d-flex align-items-center justify-content-start col-sm-3">
      <div class="text-center text-white mr-10">0 <br>Coins</div>
      <div class="mr-10">
        <button class="btn btn-info">Buy Coins</button>
      </div>
      <label class="text-white m-0 max-width-80 text-overflow">Aleksei Panvo</label>
      <button class="btn bg-transparent p-5 mr-10">
        <sdate-icon [width]="24" icon="list" color="white"></sdate-icon>
      </button>
      <div class="avatar">
        <img class="width-45 height-45" src="../../../assets/image/uploaded/1.png" alt="#"/>
      </div>
    </div>
  </div>
</header>
