<div>
  <div class="w-100 m-auto bg-white shadow-xl">
    <div class="w-100 height-50 bg-warning d-flex justify-content-center align-items-center">
      <h2 class="text-white font-weight-bold mb-0">Buy Coins</h2>
    </div>
    <div class="w-100 height-150">
      <img class="height-150 w-100" src="../../../assets/images/payment.png" alt="#"/>
    </div>
    <div class="w-100">
      <div *ngFor="let item of (packages$ | async) as itemList" class="payment-item bg-transparent p-2 my-5 w-100" (click)="onPaymentItemClicked(item.price)">
        <div class="d-flex justify-content-around bg-transparent text-info align-items-center w-100 border-4 border-info position-relative overflow-hidden m-auto">
          <h3>{{item.price}} $</h3>
          <h3>{{item.credit}} Coins</h3>
          <h4 class="text-center">incl <br>{{item.bonus}} Bonus</h4>
          <ng-container *ngIf="item.price === this.price">
            <span class="bestOfferHint">Tip</span>
          </ng-container>
          <span class="hover-view bestOfferHint d-none">Tip</span>
        </div>
      </div>
    </div>
    <div class="h-25 w-100" *ngIf="isPay">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
  </div>
</div>
