<div>
  <div class="w-50 m-auto bg-white shadow-xl">
    <div class="w-100 height-150">
      <img class="height-150 w-100" src="../../../assets/images/payment.png" alt="#"/>
    </div>
    <div class="w-100">
      <div *ngFor="let item of PaymentItems" class="payment-item bg-transparent p-2 my-5 w-100" (click)="onPaymentItemClicked(item.amount)">
        <div class="d-flex justify-content-around bg-transparent text-info align-items-center w-100 border-4 border-info position-relative overflow-hidden m-auto">
          <h3>{{item.amount}} $</h3>
          <h3>{{item.coins}} Coins</h3>
          <h4 class="text-center">incl <br>{{item.bonus}} Bonus</h4>
          <ng-container *ngIf="item.amount === this.amount">
            <span class="bestOfferHint">Tip</span>
          </ng-container>
          <span class="hover-view bestOfferHint d-none">Tip</span>
        </div>
      </div>
    </div>
    <div class="h-25 w-100" *ngIf="isPay">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
  </div>
</div>
