<div class="w-100 d-flex">
  <div class="col col-lg-3 d-none d-lg-block">
    <div class="bg-white shadow-sm width-200 min-height-400">
      <div class="width-200 height-200 p-1">
        <img class="width-200 height-200 rounded-sm border-2 border-secondary" [src]="(customerInfo && customerInfo.avatar) || sampleImageUrl" alt="#"/>
      </div>
      <div class="w-90 m-auto">
        <h2 class="text-primary text-center">{{ customerInfo && customerInfo.fullName }}</h2>
        <p class="text-black-50 text-center">{{ customerInfo && (customerInfo.birthday.toString() | timeAgo) }} from {{customerInfo && customerInfo.location}}</p>
        <p class="text-black-50 p-0 m-0">Looking for</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.lookingFor || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Interested in</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.interestedIn || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Relationship status</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.relationshipStatus || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Height</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.height || 'No Answer' }} cm</p>
        <p class="text-black-50 p-0 m-0">Body</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.body || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Kids</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.kids || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Smoker</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.smoker || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Alcohol</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.alcohol || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Education</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.education || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Profession</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.profession || 'No Answer' }}</p>
        <p class="text-black-50 p-0 m-0">Language</p>
        <p class="text-black-50 p-0">{{ customerInfo && customerInfo.language || 'No Answer' }}</p>
      </div>
    </div>
  </div>
  <div class="col col-12 col-lg-9">
    <div class="py-15 height-100 mb-1 bg-white shadow-sm ">
      <h3 class="text-center mb-10">{{ customerInfo && customerInfo.fullName }}</h3>
      <div class="d-flex align-items-center justify-content-center">
        <span class="mr-10">offline</span>
        <div class="bg-danger width-5 height-5 rounded-circle mr-10"></div>
        <button class="btn text-primary"><sdate-icon [width]="10" icon="heart" color="Cabaret"></sdate-icon></button>
        <label class="text-primary m-0">Like him</label>
      </div>
    </div>
    <div class="w-100 height-400 bg-white shadow-sm mb-2">
      <div class="p-5">
        <p class="bg-warning text-center text-info font-weight-bold m-0 py-5">Trust yourself and take the first step!</p>
      </div>
      <div class="chat-history p-10 overflow-auto max-height-350" #scrollMe>
        <p class="btn w-100 bg-dark text-center text-black-50 font-weight-bold m-5 py-5 shadow-sm" (click)="onAllChatHistoryClicked()">Show all chat history.</p>
        <div *ngFor="let chat of chatStore" [ngClass]="chat.sender.id === customerId ? 'message_box d-flex align-items-end justify-content-start mb-10' : 'message_box d-flex align-items-end justify-content-end mb-10'">
          <div class="message_content position-relative p-10 text-white rounded-sm mw-75">
            <p class="p-0 m-0">
              {{chat.text}}
            </p>
            <p [ngClass]="chat.sender.id === customerId ? 'd-flex justify-content-start font-10 p-0 m-0 pt-5' : 'd-flex justify-content-end font-10 p-0 m-0 pt-5'">{{chat.createdAt.toString() | timeAgo}}</p>
          </div>
          <div class="message_avatar border-2 d-flex justify-content-center align-items-center rounded-sm text-black-50 width-35 height-35 mx-10">
            <img class="width-30 height-30" src="../../../assets/images/uploaded/1.png" alt="#"/>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="chatForm"  (ngSubmit)="onTransferClicked()" (keydown.control.enter)="onTransferClicked()">
      <div class="w-100 height-70 bg-white shadow-sm d-flex align-items-center">
        <div class="w-100 height-70">
          <textarea class="w-100 h-100 m-0 border-0" rows="3" cols="50" formControlName="message_content"></textarea>
        </div>
        <div class="d-flex align-items-center width-105">
          <div class="height-70 width-70 d-flex align-items-center justify-content-center dark-border">
            <button class="m-0 p-2 height-70 width-70 bg-primary btn m-0 rounded-0" type="submit"><sdate-icon [width]="50" icon="sent" color="white"></sdate-icon></button>
          </div>
          <div class="d-flex flex-column">
            <a class="m-0 p-2 height-35 width-35 bg-primary btn m-0 rounded-0  dark-border"><sdate-icon [width]="17" icon="kiss" color="white"></sdate-icon></a>
            <a class="m-0 p-2 height-35 width-35 bg-primary btn m-0 rounded-0  dark-border"><sdate-icon [width]="17" icon="gift" color="white"></sdate-icon></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
