<div class="mt-20 w-100">
  <div class="py-15 height-100 mb-1 bg-white shadow-sm ">
    <h3 class="text-center mb-10">Ilya Rusbanobicy</h3>
    <div class="d-flex align-items-center justify-content-center">
      <span class="mr-10">offline</span>
      <div class="bg-danger width-5 height-5 rounded-circle mr-10"></div>
      <button class="btn text-primary"><sdate-icon [width]="10" icon="heart" color="Cabaret"></sdate-icon></button>
      <label class="text-primary m-0">Like him</label>
    </div>
  </div>
  <div class="w-100 height-400 bg-white shadow-sm mb-2">
    <div class="p-5">
      <p class="bg-warning text-center text-info font-weight-bold m-0 py-5">Trust yourself and take the first step!</p>
    </div>
    <div class="chat-history">

    </div>
  </div>
  <div class="w-100 height-70 bg-white shadow-sm border-1 d-flex align-items-center">
    <div class="w-100">
      <textarea class="w-100 height-70 m-0 border-0"></textarea>
    </div>
    <div class="d-flex align-items-center width-100">
      <div class="height-70 width-70">
        <a class="m-0 p-2 height-70 width-70 bg-primary btn m-0 rounded-0"><sdate-icon [width]="40" icon="telegram" color="mine-shaft"></sdate-icon></a>
      </div>
      <div class="d-flex flex-column">
        <a class="m-0 p-2 height-35 width-30 bg-primary btn m-0 rounded-0 shadow-sm"><sdate-icon [width]="17" icon="message" color="mine-shaft"></sdate-icon></a>
        <a class="m-0 p-2 height-35 width-30 bg-primary btn m-0 rounded-0 shadow-sm"><sdate-icon [width]="17" icon="eye" color="mine-shaft"></sdate-icon></a>
      </div>
    </div>
  </div>
</div>
