div.message_box.justify-content-start {
  flex-direction: row-reverse;
  justify-content: flex-end !important;
}

div.message_box.justify-content-start div.message_content{
  background: #27AE60;
}

div.message_box.justify-content-end div.message_content{
  background: #D05068;
}

div.message_box.justify-content-start div.message_content:before {
  content: '';
  position: absolute;
  border-width: .25rem 1rem .25rem 0rem;
  border-style: solid;
  left: -.5rem;
  bottom: .3rem;
  border-color: transparent #27AE60 transparent transparent;
}

div.message_box.justify-content-end div.message_content:before {
  content: '';
  position: absolute;
  border-width: .25rem 0 .25rem 1rem;
  border-style: solid;
  right: -.5rem;
  bottom: .3rem;
  border-color: transparent transparent transparent #D05068;
}

p.show-all-history {
  margin-left: 5% !important;
}

@media (max-width: 1023px) { //md
  emoji-mart {
    bottom: 50px !important;
    right: 50px !important;
  }
}

emoji-mart::ng-deep .emoji-mart-bar {
  display: none;
}

.giphy-search {
  position: absolute !important;
  bottom: 70px;
  right: 50px;
  width: 250px;
  height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.giphy-search input {
  width: 100%;
}

img {
  max-width: 100%;
}

.gif-result img {
  cursor: pointer;
}
