<div>
  <div class="bg-white shadow-lg d-flex align-items-center justify-content-start mb-10 w-100 height-70">
    <div class="m-5 shadow-sm">
      <img class="width-60 height-60" src="../../../assets/image/uploaded/1.png" alt="#"/>
    </div>
    <div class="ml-10">
      <h4>Welcome AlekseiPanov</h4>
      <h5 class="w-50 text-overflow">New design on sdate - Keep the full overview and optimize your profile in the infoCenter. asdklf;asdfj sadf lkjsafldk sa jaslkdfjasldf jasl;dkf as aslkdf jaslkdfjklasfdj</h5>
      <div class="w-75 d-flex justify-content-end align-items-center">
        <a class="text-primary text-decoration-none" [routerLink]="['/chatroom']">To the infoCenter</a>
      </div>
    </div>
  </div>

</div>
<div class="d-flex flex-wrap justify-content-between align-items-center">
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
  <sdate-personcard></sdate-personcard>
</div>
