<div class="my-20 d-flex justify-content-end">
  <div class="left-panel width-200">
    <div class="bg-white shadow-sm mb-30">
      <h4 class="text-dark font-weight-bold mb-5">YOU HAVE</h4>
      <div class="text-primary text-center font-24 my-15">
        <span class="font-40">{{user && user.balance}}</span> coins
      </div>
      <div>
        <button class="btn btn-info w-100 py-5" (click)="onPaymentClicked()">Buy Coins</button>
      </div>
    </div>
    <sdate-search-panel></sdate-search-panel>
  </div>
</div>
