<div class="bg-white shadow-sm p-40">
  <h1 class="text-black-50 mb-15">General Terms and Conditions</h1>
  <p class="text-black-50 font-weight-bold mb-15">Last edited on 20.01.2021</p>
  <p class="text-black-50 mb-15">Welcome to mDates. The following Terms and Conditions govern the relationship between Appogee B.V., Frans Erensstraat 14A, 5921VG Venlo, Netherlands (hereinafter "Appogee") and the users and customers of its telemedia Services (hereinafter "User"). They define the conditions under which the use of the Services offered by "mDates" takes place.</p>

  <h3 class="text-black-50 my-15">1. Acceptance of the Contract Concerning the General Terms and Conditions</h3>
  <p class="text-black-50">By creating an mDates account or by using the mDates app, whether with a mobile device, a mobile application or a computer (collectively, the "Service"), the User agrees to the following Terms of Use.</p>
  <p class="text-black-50 m-0 p-0">Appogee may make changes to this Agreement and the Service from time to time. We may do this for a variety of reasons, such as to reflect changes in laws or regulations, new functions, or changes in business practices. The most current version is always the valid version. If the changes include significant changes that affect your rights or obligations, we will provide you with reasonable notice of those changes, by way of messages via the Service or by e-mail, for example. If you continue to use the Service after the changes take effect, you agree to the revised Agreement.</p>

  <h3 class="text-black-50 my-15">2. Access</h3>
  <p class="text-black-50">Access to the Appogee database and Services is granted after the User has registered. During registration, a password and pseudonym specified by the User is used. Registration requires the User to enter an e-mail address and completely fill in the registration form.</p>
  <p class="text-black-50 m-0 p-0">As an alternative, the User is offered a connect function from third-party providers (e.g. Facebook Connect). When registering via the connect function of a third-party provider, the respective profiles of the User are transferred to the Appogee database. When registering via the connect function of a third-party provider, the User must accept the respective terms and conditions of the third-party provider.</p>


  <a class="text-primary text-decoration-none" href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>
</div>
