<div class="position-relative">
  <a class="close cursor-pointer position-absolute top-0 right-0 z-index-10 mt-n10 mr-n10" mat-dialog-close><span class="material-icons">close</span></a>
  <div class="d-flex justify-content-center align-items-center">
    <sdate-icon [width]="160" icon="kiss" color="Cabaret"></sdate-icon>
  </div>
  <div>
    <form [formGroup]="kissForm"  (ngSubmit)="onTransferClicked()" (keydown.control.enter)="onTransferClicked()">
      <div class="w-100 height-70 bg-white shadow-sm d-flex align-items-center">
        <div class="w-100 height-70">
          <textarea class="w-100 h-100 m-0 border-0" rows="3" cols="50" formControlName="message_content"></textarea>
        </div>
        <div class="d-flex align-items-center width-70">
          <div class="height-70 width-70 d-flex align-items-center justify-content-center dark-border">
            <button class="m-0 p-2 height-70 width-70 bg-primary btn m-0 rounded-0" type="submit"><sdate-icon [width]="50" icon="sent" color="white"></sdate-icon></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
