<sdate-spinner *ngIf="isLoading"></sdate-spinner>
<div>
  <form [formGroup]="passwordFG">
    <h3>Change customer's password</h3>
    <div class="mt-10">
      <sdate-text-input label="New Password" placeholder="Type your new Password" formControlName="password"></sdate-text-input>
      <sdate-text-input label="Confirm Password" placeholder="Type your new Password again" formControlName="confirmPassword"></sdate-text-input>
    </div>
    <div class="mt-10 d-flex justify-content-end">
      <button class="btn btn-success mr-10" (click)="onSubmitted()" [disabled]="passwordFG.invalid || isLoading">Save</button>
      <button class="btn btn-primary" (click)="onCloseClicked()">Cancel</button>
    </div>
  </form>
</div>
