<div class="row">
  <div class="col-10 col-md-6 col-lg-6 col-xl-6 col-xxl-4" *ngFor="let user of userList" >
    <sdate-personcard [customerInfo]="user" [customerState]="UserShowType.LIKE"></sdate-personcard>
  </div>
</div>

<p class="bg-primary text-white p-10 w-100 m-auto text-center">Here are some suggestions you might like:</p>

<div class="row mt-20">
  <ng-container *ngFor="let notification of notificationStore">
    <ng-container *ngIf="notification.pattern === NotificationType.Like">
      <div class="col-10 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
        <sdate-personcard [customerInfo]="notification.sender" [customerState]="UserShowType.RANDOM"></sdate-personcard>
      </div>
    </ng-container>
  </ng-container>
</div>
