<div class="my-20 d-flex justify-content-start">
  <div class="left-panel width-270">
    <div class="bg-transparent mb-10">
      <div class="d-flex align-items-center justify-content-end">
        <a class="menu-item m-0 p-2 shadow-sm"><sdate-icon [width]="16" icon="message" color="mine-shaft"></sdate-icon></a>
        <a class="menu-item m-0 p-2 shadow-sm"><sdate-icon [width]="16" icon="eye" color="mine-shaft"></sdate-icon></a>
        <a class="menu-item m-0 p-2 shadow-sm"><sdate-icon [width]="16" icon="search" color="mine-shaft"></sdate-icon></a>
        <a class="menu-item m-0 p-2 shadow-sm"><sdate-icon [width]="16" icon="star" color="mine-shaft"></sdate-icon></a>
        <a class="menu-item m-0 p-2 shadow-sm"><sdate-icon [width]="16" icon="grid" color="mine-shaft"></sdate-icon></a>
        <a class="menu-item m-0 p-2 shadow-sm"><sdate-icon [width]="16" icon="heart" color="mine-shaft"></sdate-icon></a>
      </div>
    </div>
    <div class="bg-transparent overflow-auto vh-100">
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
      <sdate-notification></sdate-notification>
    </div>
  </div>
</div>
