<div>
  <div class="p-20 bg-white shadow-sm d-flex justify-content-between align-items-center mb-5">
    <div class="width-250 height-250">
      <a class="" href="#"><img class="width-250 height-250" src="../../../assets/images/uploaded/2.png" alt="#"/></a>
    </div>
    <div class="ml-20">
      <h1>Aleksei Panov</h1>
      <br>
      <h3>30 years old from Moscow</h3>
      <br>
      <h2>About me</h2>
      <textarea class="cdk-textarea-autosize" rows="3" cols="50" placeholder="About me..."></textarea>
      <div class="d-flex justify-content-between">
        <a class="btn text-primary">Guidelines</a>
        <div>
          <button class="btn btn-info mr-10 rounded-0">Abort</button>
          <button class="btn btn-primary rounded-0">Save</button>
        </div>
      </div>
    </div>
    <div>
      <a class="btn btn-primary text-decoration-none d-flex align-items-center rounded-0 width-250 height-45 mb-5">
        <i class="icon-heartOutline text-white font-20 d-flex justify-content-center big-shadow-primary"></i>
        <span class="text-white ml-15">LIKE HIM</span>
      </a>
      <a class="btn btn-primary text-decoration-none d-flex align-items-center rounded-0 width-250 height-45 mb-5">
        <i class="icon-chat text-white font-20 d-flex justify-content-center big-shadow-primary"></i>
        <span class="text-white ml-15">SEND HIM A MESSAGE</span>
      </a>
      <a class="btn btn-primary text-decoration-none d-flex align-items-center rounded-0 width-250 height-45 mb-5">
        <i class="icon-kiss text-white font-12 d-flex justify-content-center big-shadow-primary"></i>
        <span class="text-white ml-15">SEND HIM A KISS</span>
      </a>
      <a class="btn btn-primary text-decoration-none d-flex align-items-center rounded-0 width-250 height-45 mb-5">
        <i class="icon-gift text-white font-20 d-flex justify-content-center big-shadow-primary"></i>
        <span class="text-white ml-15">SEND HIM A GIFT</span>
      </a>
      <a class="btn btn-primary text-decoration-none d-flex align-items-center rounded-0 width-250 height-45 mb-5">
        <i class="icon-favoriteOutline text-white font-20 d-flex justify-content-center big-shadow-primary"></i>
        <span class="text-white ml-15">ADD AS FAVORITE</span>
      </a>
      <a class="btn btn-info text-decoration-none d-flex align-items-center rounded-0 width-250 height-45 mb-5">
        <i class="icon-block text-white font-20 d-flex justify-content-center big-shadow-info"></i>
        <span class="text-white ml-15">BLOCK HIM</span>
      </a>
    </div>
  </div>
  <div class="bg-white p-15">
    <h2 class="py-15">Facts</h2>
    <div class="d-flex">
      <div class="w-25">
        <h4>Looking for</h4><h3>Men</h3>
        <br>
        <h4>Body</h4><h3>No Answer</h3>
        <br>
        <h4>Education</h4><h3>Men</h3>
      </div>
      <div class="w-25">
        <h4>Looking for</h4><h3>Men</h3>
        <br>
        <h4>Body</h4><h3>No Answer</h3>
        <br>
        <h4>Education</h4><h3>Men</h3>
      </div>
      <div class="w-25">
        <h4>Looking for</h4><h3>Men</h3>
        <br>
        <h4>Body</h4><h3>No Answer</h3>
        <br>
        <h4>Education</h4><h3>Men</h3>
      </div>
      <div class="w-25">
        <h4>Looking for</h4><h3>Men</h3>
        <br>
        <h4>Body</h4><h3>No Answer</h3>
        <br>
        <h4>Education</h4><h3>Men</h3>
      </div>
    </div>
  </div>
</div>
