<sdate-header></sdate-header>
<div class="d-flex">
  <div class="col col-lg-3 d-none d-lg-block" *ngIf="exceptPageList.indexOf(openPage) < 0">
    <sdate-leftpanel></sdate-leftpanel>
  </div>
  <div class="col col-lg-1 d-none d-lg-block" *ngIf="exceptPageList.indexOf(openPage) > -1">
  </div>
  <div [ngClass]="exceptPageList.indexOf(openPage) > -1 ? 'col col-sm-12 col-lg-8' : 'col col-sm-12 col-lg-6'">
    <div class="w-100 h-100 mt-20">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div [ngClass]="exceptPageList.indexOf(openPage) > -1 ? 'col col-lg-2 d-none d-lg-block' : 'col col-lg-3 d-none d-lg-block'">
    <sdate-rightpanel></sdate-rightpanel>
  </div>
</div>
<div class="position-sticky bottom-10 max-height-400 z-index-10 float-right z-index-10 d-md-none">
  <div *ngFor="let chatId of chatIdStore; let index=index">
    <ng-container *ngIf="index < 1">
      <sdate-chatbox class="d-flex align-items-end" [customerId]="chatId"></sdate-chatbox>
    </ng-container>
  </div>
</div>
<div class="position-sticky bottom-10 right-0 max-height-400 mr-400 float-right z-index-10 d-none d-md-flex justify-content-end flex-wrap">
  <ng-container *ngIf="chatIdStore.length > 3">
    <div class="d-flex justify-content-center align-items-end pb-10">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="p-5 mr-10 bg-primary rounded-0" aria-label="Main Menu" matBadge="{{chatIdStore.length-3}}" matBadgePosition="before" matBadgeColor="primary">
        <sdate-icon [width]="30" icon="list" color="white"></sdate-icon>
      </button>
      <mat-menu #menu="matMenu" yPosition="above" xPosition ="before" class="bg-transparent shadow-none border-0 p-0">
        <div *ngFor="let chatId of chatIdStore; let index=index">
          <ng-container *ngIf="index >= 3">
            <sdate-chatbox class="d-flex align-items-end" [showFlag]="false" [customerId]="chatId"></sdate-chatbox>
          </ng-container>
        </div>
      </mat-menu>
    </div>
  </ng-container>
  <div *ngFor="let chatId of chatIdStore; let index=index">
    <ng-container *ngIf="index < 3">
      <sdate-chatbox class="d-flex align-items-end" [customerId]="chatId"></sdate-chatbox>
    </ng-container>
  </div>
</div>
<sdate-footer></sdate-footer>
