div#notification_bar::after {
  content: attr(data-label);
  height: 100%;
  padding: 0px 15px 0px 15px;
  position: absolute;
  background: #D05068;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px #bb324c, 2px 2px #bb334c, 3px 3px #bc334d, 4px 4px #bc344d;
  right: -100px;
  box-shadow: 0 0 6px rgb(0 0 0 / 40%);
  z-index: 1;
}

div#notification_bar:hover::after {
  transform: translate3d(-100px,0px,0);
  transition: transform .3s ease, background .2s ease;
}

div#notification_bar:hover {
  border: 1px solid #D05068;
  cursor: pointer;
}

button.close-button:hover {
  border: 1px solid #D05068;
}

.content-width {
  width: calc(100% - 60px);
}
