<footer class="bg-danger p-15">
  <div class="container">
    <div>
      <h3 class="text-center">The minimum age for the use of this portal is 18 years. The site is optimized for desktop pc's, mobile phones, and tablets. The portal is a social network for men and women looking for chats and interesting contacts. In addition to the thousands of new registrations every day, you also have the possibility to chat with virtual online profiles in our virtual entertainment world, although real meetings with them are not possible. The decision to meet with real profiles is always at the discretion of our members. Please also read the communication guidelines in our T&C's. Our guarantee: chatting is always assured. The registration and the creation of your profile is free of charge and many features are free as well. You never have to take out a paid subscription to use our dating site.</h3>
    </div>
    <div>
      <h1 class="text-center"> United Kingdom - English Help / Support Imprint Privacy Policy Terms and Conditions & Communication Guidelines</h1>
      <h1 class="text-center"> Appogee B.V., Frans Erensstraat 14A, 5921VG Venlo, Netherlands</h1>
      <h1 class="text-center"> © 2021 sDates</h1>
    </div>
  </div>
</footer>
