<ng-container>
  <div class="p-50">
    <h2 class="text-black-50">DASHBOARD</h2>
    <div class="d-flex flex-wrap justify-content-around align-items-center">
      <sdate-dash-total title="Online Users" description="{{onlineUserCount}}" color="cornflower-blue" icon="female"></sdate-dash-total>
      <sdate-dash-total title="Fake Users" description="{{fakeUserCount}}" color="riptide" icon="male"></sdate-dash-total>
      <sdate-dash-total title="Customers" description="{{customerCount}}" color="riptide" icon="male"></sdate-dash-total>
      <sdate-dash-total title="Messages" description="{{messageCount}} / Month" color="geraldine" icon="message"></sdate-dash-total>
      <sdate-dash-total title="Kiss Messages" description="{{kissCount}} / Month" color="waterloo" icon="kiss"></sdate-dash-total>
      <sdate-dash-total title="Gift Messages" description="{{giftCount}} / Month" color="jacksons-purple" icon="gift"></sdate-dash-total>
      <sdate-dash-total title="Favorite Requests" description="{{favoriteCount}} / Month" color="cream-can" icon="star"></sdate-dash-total>
      <sdate-dash-total title="Like Requests" description="{{likeCount}} / Month" color="Cabaret" icon="heart"></sdate-dash-total>
      <sdate-dash-total title="Visit Requests" description="{{visitCount}} / Month" color="color-purple" icon="eye"></sdate-dash-total>
    </div>
  </div>
  <div class="p-50">
    <h2 class="text-black-50">Analyze Charts</h2>
    <div class="d-flex flex-wrap justify-content-around align-items-center">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>
</ng-container>
