<div class="bg-white w-100">
  <div class="p-20 text-black-50">
    <h1 class="pb-20">KeyWord : Number</h1>
    <div class="d-flex flex-wrap justify-content-around align-items-center">
      <sdate-text-input label="English" value="1"></sdate-text-input>
      <sdate-text-input label="Russian" value="1"></sdate-text-input>
      <sdate-text-input label="French" value="1"></sdate-text-input>
      <sdate-text-input label="Arabic" value="1"></sdate-text-input>
      <sdate-text-input label="Dutch" value="1"></sdate-text-input>
      <sdate-text-input label="German" value="1"></sdate-text-input>
      <sdate-text-input label="Italian" value="1"></sdate-text-input>
      <sdate-text-input label="Portuguese" value="1"></sdate-text-input>
      <sdate-text-input label="Spanish" value="1"></sdate-text-input>
      <sdate-text-input label="Hebrew" value="1"></sdate-text-input>
      <sdate-text-input label="English" value="1"></sdate-text-input>
      <sdate-text-input label="English" value="1"></sdate-text-input>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-dialog-close class="btn btn-primary mr-10">Cancel</button>
      <button class="btn btn-info">Save</button>
    </div>
  </div>
</div>
