<header class="bg-danger py-10 shadow-sm">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <img class="height-45" src='../../../assets/image/home-logo.png' alt="#" />
    </div>
    <div class="d-flex">
      <div class="pr-10">
        <button class="btn bg-transparent p-5">
          <sdate-icon [width]="24" icon="list" color="white"></sdate-icon>
        </button>
      </div>
      <div>
        <button class="btn btn-light" (click)="onLoginClicked($event)">LOGIN</button>
      </div>
    </div>
  </div>
</header>
