<section>
  <div class="container">
    <h2 class="font-weight-bold text-center my-30">Package Price Management</h2>
    <div class="d-flex justify-content-around">
      <label class="font-weight-bold">Package 1</label>
      <sdate-text-input type="number" label="Price" placeholder="2$"></sdate-text-input>
      <sdate-text-input type="number" label="Credits" placeholder="200"></sdate-text-input>
      <sdate-text-input type="number" label="Bonus" placeholder="20"></sdate-text-input>
    </div>
    <div class="d-flex justify-content-around">
      <label class="font-weight-bold">Package 1</label>
      <sdate-text-input type="number" label="Price" placeholder="2$"></sdate-text-input>
      <sdate-text-input type="number" label="Credits" placeholder="200"></sdate-text-input>
      <sdate-text-input type="number" label="Bonus" placeholder="20"></sdate-text-input>
    </div>
    <div class="d-flex justify-content-around">
      <label class="font-weight-bold">Package 1</label>
      <sdate-text-input type="number" label="Price" placeholder="2$"></sdate-text-input>
      <sdate-text-input type="number" label="Credits" placeholder="200"></sdate-text-input>
      <sdate-text-input type="number" label="Bonus" placeholder="20"></sdate-text-input>
    </div>
    <div class="d-flex justify-content-end mx-50">
      <button class="btn btn-primary font-weight-bold">SUBMIT</button>
    </div>
  </div>
</section>
