<div class="bg-white shadow-sm p-40">
  <h1 class="text-black-50 mb-15">Imprint</h1>
  <p class="text-black-50 font-weight-bold">mDates is a product of Appogee B.V.</p>
  <div class="d-flex justify-content-between align-items-center mb-20">
    <h1 class="text-black-50 mb-15">Contact</h1>
    <button class="btn btn-primary rounded-0" (click)="navigate([ROUTES.home.root, ROUTES.home.support.root, ROUTES.home.support.contact])">Contact Form</button>
  </div>
  <p class="text-black-50 font-weight-bold m-0 p-0">Appogee B.V.</p>
  <p class="text-black-50 font-weight-bold m-0 p-0">Frans Erensstraat 14A</p>
  <p class="text-black-50 font-weight-bold m-0 p-0">5921VG Venlo, Netherlands</p>
  <br>
  <p class="text-black-50 font-weight-bold m-0 p-0">CEO</p>
  <p class="text-black-50 font-weight-bold m-0 p-0">Chakawri Radjkoemarie</p>
  <p class="text-black-50 font-weight-bold m-0 p-0">KvK</p>
  <p class="text-black-50 font-weight-bold m-0 p-0">63015919</p>
  <p class="text-black-50 font-weight-bold m-0 p-0">Kamer van Koophandel Venlo</p>
  <p class="text-black-50 font-weight-bold m-0 p-0">The European Commission provides a platform for online dispute resolution. The platform can be found at</p>
  <a class="text-primary text-decoration-none" href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>
</div>
