<sdate-spinner *ngIf="isLoading"></sdate-spinner>
<div class="max-height-800 overflow-auto overflow-x">
  <ng-container *ngFor="let notification of inboxNotifications; let i = index">
    <ng-container *ngIf="i >= startIndex && i < endIndex">
      <sdate-inbox-item [notification]="notification"></sdate-inbox-item>
    </ng-container>
  </ng-container>
</div>

<div class="d-flex justify-content-center">
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onPaginationChangeEvent($event)">
  </mat-paginator>
</div>
